<div class="interface_configuration-root">
    <div v-loading="!isLoaded" class="main-content">
        <template v-if="isLoaded" v-for="serial_name in displayOrder">
            <el-descriptions class="margin-top" :title="serial_name" :column="3" border :key="serial_name">
                <template slot="extra">
                    <el-button 
                        :type="serial_settings[serial_name].is_connected ? 'danger' : 'success'"
                        size="small"
                        @click="serial_settings[serial_name].is_connected ? 
                               disconnectDevice(serial_name) : connectDevice(serial_name)"
                        :loading="loading">
                        {{ serial_settings[serial_name].is_connected ? '断开' : '连接' }}
                    </el-button>
                    <el-button 
                        type="primary" 
                        size="small" 
                        @click="editSerialSetting(serial_name)" 
                        :loading="loading">
                        编辑
                    </el-button>
                </template>
                <el-descriptions-item label="协议">{{ serial_settings[serial_name].protocol }}</el-descriptions-item>
                <el-descriptions-item label="串口号">{{ serial_settings[serial_name].port }}</el-descriptions-item>
                <el-descriptions-item label="波特率">{{ serial_settings[serial_name].baudrate }}</el-descriptions-item>
                <el-descriptions-item label="数据位">{{ serial_settings[serial_name].databits }}</el-descriptions-item>
                <el-descriptions-item label="停止位">{{ serial_settings[serial_name].stopbits }}</el-descriptions-item>
                <el-descriptions-item label="校验位">{{ serial_settings[serial_name].parity }}</el-descriptions-item>
                <el-descriptions-item label="流控制">{{ serial_settings[serial_name].flowcontrol }}</el-descriptions-item>
                <el-descriptions-item label="超时时间">{{ serial_settings[serial_name].timeout }}</el-descriptions-item>
                <el-descriptions-item label="连接状态">
                    <el-tag :type="serial_settings[serial_name].is_connected ? 'success' : 'danger'">
                        {{ serial_settings[serial_name].is_connected ? '已连接' : '未连接' }}
                    </el-tag>
                </el-descriptions-item>
            </el-descriptions>
        </template>
    </div>
    <el-dialog :title=current_serial_name+"接口配置" :visible.sync="dialogVisible">
        <el-form :model="form">
            <el-form-item label="协议" :label-width="formLabelWidth">
                <el-input v-model="form.protocol" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="串口号" :label-width="formLabelWidth">
                <el-input v-model="form.port" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="波特率" :label-width="formLabelWidth">
                <el-input v-model="form.baudrate" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="数据位" :label-width="formLabelWidth">
                <el-input v-model="form.databits" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="停止位" :label-width="formLabelWidth">
                <el-input v-model="form.stopbits" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="校验位" :label-width="formLabelWidth">
                <el-input v-model="form.parity" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="流控制" :label-width="formLabelWidth">
                <el-input v-model="form.flowcontrol" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="超时时间" :label-width="formLabelWidth">
                <el-input v-model="form.timeout" autocomplete="off"></el-input>
            </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button type="primary" @click="dialogVisible = false">取 消</el-button>
            <el-button type="primary" @click="saveSerialSetting" :loading="loading">确 定</el-button>
        </div>
    </el-dialog>
</div>
